<div class="row">
    <div clas="col-md-12">
        <h2> {{department.departmentName}} - Department: {{department.departmentId}} </h2>
        <hr>
        <form method="post" action="/departments/update">
            <input type="hidden" name="departmentId" value={{data.departmentId}}>
            <fieldset>
               <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label> Department: </label>
                            <input class="form-control" name="departmentName" type="text" lable= "Department Name" value = "{{data.departmentName}}">
                        </div>
                    </div>
                </div>
                </div>
            </fieldset>
            <input type="submit" class="btn btn-primary pull-right" value = "Update Department"/>
            <br> <br>
        </form>
    </div> {{!--  <div clas="col-md-12"> --}}
</div> {{!-- <div class="row"> --}}